<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  
  <body>
    <br>

    <h1 style="color:#666">Predict Your Income With AI</h1>




        <section id="info">
          <h2>About</h2>
          <p><strong>Developer Name:</strong>Ahamed Basith</p>
          <p><strong>Model Accuracy:</strong> 87%</p>
          <p><strong>Report Model:</strong> <a href="https://www.ahamedbasith.com/" target="blank" >www.ahamedbasith.com</a></p>
          <br>
          <p>The samples are collected based on mid-tier and first-tier MNCs. As an AI model, it may be inaccurate based on the limited scope of the sample, which may not fully represent the diversity and variability of the entire population. The model’s performance might vary significantly if applied to different sectors or geographical regions not adequately covered in the data. Additionally, any inherent biases in the sample data can affect the model's predictions and generalizability.</p>
        </section>

  </body>





</html>
